body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0940a;
    color: rgb(236, 114, 14);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: rgb(233, 149, 22);
    text-decoration: none;
}

section {
    padding: 20px;
}

.produto {
    display: inline-block;
    width: 30%;
    margin: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

